{% extends 'base.html' %}

{% load static %}
{% block head %}
    <title>PPW Story 4 | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'ppwstory3/css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 sidebar">
                <img alt="William's photo" src="{% static 'ppwstory3/img/William.png' %}">
                <h2>William</h2>
                {% block sidebar %}
                {% endblock %}
                <div class="sidebar-button">
                    <ul>
                        {% block buttons %}
                        {% endblock %}
                        <li><a class="btn" href="{% url 'ppwstory1:index' %}">PPW Story 1</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9 col-md-offset-3 content">
                <div class="content">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}