/* CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END CSS RESET */

html, body, .container-fluid, .row {
    height: 100%;
}

.container p {
    line-height: 150%;
    padding: 5px;
}

.sidebar {
    position: fixed;
    top: 0;
    padding: 50px;
    float: left;
    align-content: center;
    text-align: center;
    background-color: #F5FF90;
    overflow: auto;
}

.sidebar h2{
    margin: 15px;
}

.sidebar p{
    max-width: 300px;
    margin: 20px auto;
    line-height: 150%;
}

.sidebar .btn {
    text-decoration: none;
    color: black;
    background-color: #FFB33E;
}

.sidebar .btn:hover {
    background-color: #db8400;
}

.sidebar ul li {
    margin-bottom: 25px;
}

.content {
    margin: 20px 0px;
    font-family: 'Roboto', sans-serif;
    float: left;
}

html h1 {
    font-size: xx-large;
    font-weight: bolder;
    padding: 5px;
}

html h2 {
    font-size: x-large;
    font-weight: bold;
}

.sidebar {
    font-family: 'Roboto', sans-serif;
}

.postpreview {
    display: flex;
    padding: 20px;
    width: auto;
}

.postpreview img {
    float: left;
}

.postpreview .textbox {
    padding: 10px;
}

.postpreview .textbox a {
    text-decoration: none;
    color: black;
}

.postpreview .textbox a:hover {
    color: #db8400;
}

.postpreview .textbox p {
    margin-top: 20px;
}

.post {
    max-width: 800px;
    font-size: large;
    text-align: justify;
}

.post h1 {
    margin: 5px;
}

.post img {
    margin: 20px 0px;
}

.post .maintext p {
    margin: 10px 0px;
}

@media (min-width: 992px) {
    .sidebar {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      z-index: 1000;
      display: block;
    }
  }

@media (max-width: 992px) {
    .postpreview  img {
        width: 200px;
        height: 100px;
        float: none;
    }

    .postpreview {
        display: block;
        margin: auto;
    }

    .postpreview .textbox{
        padding: 20px 0px;
    }

    .content h1 {
        font-size: xx-large;
    }

    .post img {
        width: 300px;
        height: 150px;
    }
}